*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    }
    .fpage{
        min-height: 100vh;
        width: 100%;
        background-image:url(images/front-view-view-tasty-cupcake-with-strawberry-cream.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        
    }
    .box{
        width: 300px;
        height: 400px;
        padding: 20px;
        color: #fff;
        background-color: rgb(1, 1, 20);
        top: 20%;
        left:60%;
      position:absolute;
      
       
   }
   .profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position:absolute;
    top: -12%;
    left:calc(50% - 50px);
    
   }
   h1{
    margin: 60px 0 0 0;
    padding: 0 0 15px;
    text-align: center;
    font-size: 22px;
    
   }
   .box p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 16px;
   }
   .box input{
    width: 100%;
    margin-bottom: 20px;
    
   }
   .box input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 40px;
    outline: none;
    color: #fff;
    font-size: 14px;
   }
   .box input[type="submit"]{
    border: none;
    outline: none;
    background: rgb(165, 11, 11);
    color: #fff;
    height:40px;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
   }
   .box input[type="submit"]:hover{
    background: rgb(250, 104, 172);
    color: rgb(1, 1, 26);
    cursor: pointer;
   }
.box a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: rgb(167, 165, 165);
}
.box a:hover{
color:rgb(20, 104, 3);
}



